﻿@*@{
    ViewData["Title"] = "Home Page";
}*@
@model IndexModel

@using (Html.BeginForm("ProcessData", "Home"))
{
    @Html.AntiForgeryToken()
    <div class="col-md-10">
        <tr>
            <td style="width:50%">@Html.Label("Please enter any positive Integer")<label class="text-danger">*</label></td>
            <td style="width:50%">@Html.TextBoxFor(m => m.InputData, new { @type = "text" })</td>
        </tr>
    </div>
    <input type="submit" value="Submit" class="btn btn-default" onclick="return validateData()" />

}
<div id="divValidation" style="display : none">
    <label for="lblValidationMsg" class="text-danger">Please enter any number between 1 and 1000.</label>
</div>

<script>
    function validateData() {
        var inputData = $("#InputData").val();
        if (inputData == null || inputData == "" || isNaN(inputData) || inputData < 0 || inputData > 1000) {
            $("#divValidation").show();
            //alert("Input should be number between 1 & 1000");
            return false;
        }
        else {
            $("#divValidation").hide();
            document.forms[0].submit();
            return true;
        }
    }
</script>
