﻿@page
@model ResultModel
@*@using PagedList.Mvc
@using PagedList.Core.Mvc
@using PagedList
@using X.PagedList.Mvc.Core*@

@{
    Layout = "_Layout";
}
<style>
    .ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

            ul.pagination li a.active {
                background-color: #4CAF50;
                color: white;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: #ddd;
            }
</style>
<h4 class="display-10">Result view</h4>
@using (Html.BeginForm("ProcessData", "Home"))
{
    <ul class="two-columns clearfix">
        @foreach (var cats in ViewBag.ProcessedData)
        @*@foreach (var cats in Model.OutputResult)*@
        {
            if (cats == "fizz" || cats == "wizz")
            {

                <li><span style="color : blue">@cats</span></li>
            }
            else if (cats == "buzz" || cats == "wuzz")
            {

                <li><span style="color : green">@cats</span></li>
            }
            else if (cats == "fizz buzz" || cats == "wizz wuzz")
            {

                <li><span style="color : blue">fizz</span> <span style="color : green"> buzz</span></li>
            }
            else
            {
                <li>@cats</li>
            }

        }
    </ul>

    <table cellpadding="0" cellspacing="0">
                <tr>
                    @for (int i = 1; i <= ViewBag.PageCount; i++)
                    {
                        <td>
                            @if (i != ViewBag.CurrentPage)
                            {
                                <a href="javascript:PagerClick(@i);">@i</a>
                            }
                            else
                            {
                                <span>@i</span>
                            }
                        </td>
                    }
                </tr>
            </table>
        <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />

    @*<div id="container" style="margin-left: 20px">
        <p></p>
        <p></p>
        <div class="pagination" style="margin-left: 400px">
            Page @(Model.PageCount < Model.CurrentPageIndex ? 0 : Model.CurrentPageIndex)
            of @Model.PageCount @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>*@
}
<script type="text/javascript">
    function PagerClick(index) {
        document.getElementById("hfCurrentPageIndex").value = index;
        document.forms[0].submit();
    }
</script>
